@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
    color: #FFFADE;
}

 :root{
    --primary-color:#22254b;
    --secondary-color: #4A4A74;

} 

.Logo-Text{
    background-color: var(--primary-color); 
    color: #fff;
    padding: 20px;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); 
    color: #FFFADE; 
    height: 500px;
    z-index: 1;
    /*background image repeat*/
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    /*background image repeat end*/
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: rgb(14, 1, 22);
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    margin-top: 0px;
    border-radius: 4px;
    font-size: 2rem;
    color: #FFFADE;
    font-family: inherit;
    width: 101%;
    height: 80px;
    opacity: 50%;
    
}
.search-form{
    margin: 0;
    
    
}

.search:focus{
    outline:0;
    background-color: rgb(14, 1, 22);
    opacity: 100%;
}

.search::placeholder{
    color: #7786FF;
    font-size: 30px;
    align-items: center;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

.movie:hover{
    transform: scale(1.02);
    transition: 0.2s;
}

.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    height: 110px;   
}


.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}




.watchlist-btn {
    position: absolute;
    top: 4%;
    left: 92%;
    height: 35px;
    transform: translate(-50%, -50%);
    background-color: #4A4A74;
    color: #0091A9;
    font-size: 24px; /* Dimensiunea textului */
    padding: 0px 10px; 
    border: none;
    cursor: pointer;
    border-radius: 3px; 
    border-color: #0091A9;
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:#0091A9;
    padding:10px 15px;
    background-color: #00EFB7;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}


.tag.highlight{
    background-color: #C9FCE9;
}
.no-results{
    color:white;
}


.header-pag{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    flex: 1;
    font-size: 30px;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Poppins';
}