/* Global */

@import url('');

:root{
    --primary-color:#22254b;
    --secondary-color: #4A4A74;
}


*{
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color); 
    color: #FFFADE; 
    height: 500px;
    z-index: 1;
    /*background image repeat*/
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    /*background image repeat end*/
}

header {
    background-color: var(--primary-color); 
    color: #fff;
    padding: 20px;
    text-align: center;
}
 


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    background-color: var(--secondary-color);
    padding: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 380px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 

}
.error {
    background-color: #ff4444; 
    color: #FFFADE; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

form {
    margin-top: 20px;
    width: 100%; 
}


label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* text alb */
    
}

input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #00EFB7;
    color: #0091A9; 
    border-color: #00EFB7;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    padding: 10px;
    margin-top: 10px; 
    align-items: center;
}

button:hover {
    border: 2px solid #C9FCE9;
    transition: 0.1s;
}


.signup-text {
    color:#FFFADE;
    text-align: center;
    font-size: 14px; 
    margin-top: 10px; 
}

.text-link:hover{
    text-decoration: underline;
}
.text-link:visited{
    color: #FFFADE;
}
