

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}


.navbar {
    background-color: var(--secondary-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.separator-right{
    justify-content: right;

}
.separator-left{
    margin-left: 0px;
    justify-content: space-between;
    width: 43%;
    padding-right: 400px;
    
}

.navbar .logo-text {
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.navbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
}




.dropdown-menu {

    max-height: 200px; 
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
}

.dropdown {
    position: relative;
    z-index: 1001;
}


.OASIS-button{
    color: #FFFADE;
    font-weight: bold; 
    text-decoration: none;
    font-size: 24px;
    margin: 0px 20px;

}

.OASIS-button:hover{
    color: #FFFADE;
    font-weight: bold; 
    font-size: 24px;
    text-decoration: none;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-navbar{
    color: #FFFADE;
    position: relative;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: 'Poppins',sans-serif;
    padding-right: 15px;
    display: flex;
    
}
.text-navbar a{
    height: 70px;

}
.text-navbar:hover{
    color: #FFFADE;
    text-decoration: none;
}

.text-navbar::after{
    content: "";
    position: absolute;
    background-color: #FFFADE;
    height: 3px;
    width: 0;
    left: 0;
    right: 10px;
    bottom: -3px;
    transition: 0.3s;
}

.text-navbar:hover::after{
    width: 90%;

}

/* Drop Down Menu NEW*/

/* User profile or dropdown styles and hover styles starts */
.fa-regular{
    color: #FFFADE;
    font-size: 20px;
    padding: 5px;
    background-color: black;
  }

  .dropdown-menu.dropdown-menu-center {
    left: 40% !important;
    right: auto !important;
    transform: translateX(-70%) !important;
  }

  .dropdown .btn:hover {
    transform: scale(1.1);
    }

    .btn{
        margin: 0px;
    }

  .dropdown-item{
    font-family: 'Arbutus Slab';
    font-size: 14px;
    transition: all 0.3s ease;
    
  }

  .dropdown-item:hover {
    background-color: gray;
  }

  .dropdown-divider {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 0.5rem 0;
    opacity: 0.5;
  }
/* User profile or dropdown styles and hover styles starts */  



/* Media query styles for 576 px size user window starts */  
  @media (max-width: 576px) {
    .nav-item{
        padding-left: 10%;
    }

    .dropdown{
        padding-left: 8%;
    }
    
    .dropdown-menu.dropdown-menu-center {
      left: 30% !important;
      right: 0 !important;
      transform: translateX(0) !important;
    }
  }
/* Media query styles for 576 px size user window ends */