/* Stiluri pentru navbar */
.navbar {
    background-color: #333; /* Culoarea de fundal a barei de navigare */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.separator-right{
    justify-content: right;

}
.separator-left{
    justify-content: space-around;
    width: 50%;
}
/* Stiluri pentru nume */
.navbar .logo-text {
    color: #fff; /* Culoarea textului */
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

/* Stiluri pentru searchbar */
.navbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
}

/* Stiluri pentru butoanele de notificări și profil */
.navbar .notification-icon,
.navbar .profile-icon {
    font-size: 24px; /* Dimensiunea iconurilor */
    color: #fff; /* Culoarea iconurilor */
    margin-right: 10px; /* Spațiu între iconuri */
    padding-right: 20px;
}

/* Stiluri pentru butonul de profil */
.navbar .profile-icon {
    width: 30px; /* Dimensiunea butonului de profil */
    height: 30px;
    background-color: #fff; /* Culoarea de fundal a butonului de profil */
    border-radius: 50%; /* Pentru a face butonul rotund */
    margin-right: 5px; /* Spațiu între butonul de profil și cel de notificări */
    border: 0px;
}

/* Stiluri pentru meniul dropdown */
.dropdown-menu {
    /* Alte stiluri */
    max-height: 200px; /* Limităm înălțimea meniului dropdown */
    overflow-y: auto; /* Adăugăm scroll pentru cazul în care meniul este mai lung */
    position: absolute;
    z-index: 1000;
}

.dropdown {
    position: relative;
    z-index: 1001;
}
