

.navbar {
    background-color: #310e69;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.separator-right{
    justify-content: right;

}
.separator-left{
    margin-left: 0px;
    justify-content: space-between;
    width: 50%;
    
}

.navbar .logo-text {
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.navbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
}


.navbar .notification-icon,
.navbar .profile-icon {
    font-size: 24px; 
    color: #fff; 
    margin-right: 10px; 
    padding-right: 20px;
}


.navbar .profile-icon {
    width: 30px; 
    height: 30px;
    background-color: #fff; 
    border-radius: 50%; 
    margin-right: 5px; 
    border: 0px;
}


.dropdown-menu {

    max-height: 200px; 
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
}

.dropdown {
    position: relative;
    z-index: 1001;
}


.OASIS-button{
    color: rgb(177, 25, 25);
    font-weight: bold; 
    font-size: 24px;
}

.OASIS-button:hover{
    color: rgb(177, 25, 25);
    font-weight: bold; 
    font-size: 24px;
    text-decoration: none;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-navbar{
    color: rgb(177, 25, 25);
    position: relative;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: 'Poppins',sans-serif;
    padding-right: 10px;
}

.text-navbar:hover{
    color: rgb(177, 25, 25);;
    text-decoration: none;
}

.text-navbar::after{
    content: "";
    position: absolute;
    background-color: rgb(177, 25, 25);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.text-navbar:hover::after{
    width: 100%;

}
