/* Global */

@import url('');

*{
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414; 
    color: #ff4444; 
    height: 500px;
    z-index: 1;
}

header {
    background-color: #141414; 
    color: #fff;
    padding: 20px;
    text-align: center;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    background-color: #27075c;
    padding: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 380px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 

}
#error {
    background-color: #ff4444; /* roșu */
    color: #fff; /* text alb */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
    width: 100%; /* Lățime de 100% pentru a se potrivi containerului */
}


label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* text alb */
    
}

input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e50914; /* roșu Netflix */
    color: #fff; /* text alb */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Lățime de 50% pentru buton */
    padding: 10px;
    margin-top: 10px; /* Separare între textbox-uri și buton */
    align-items: center;
}

button:hover {
    background-color: #ff3c47; 
}

.signup-text {
    color:#e50914;
    text-align: center;
    font-size: 14px; /* Dimensiune text mai mică */
    margin-top: 10px; /* Separare între butonul de login și textul de sign up */
}

.logo-img{
    height: 100px;
}